 .formulario {
     display: flex;
     justify-content: center;
     margin: 40px 0;
 }

 .formulario form {
     max-width: 100%;
     background-color: #F2F2F2;
     border-radius: 10px;
     padding: 36px 64px;
     box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.15);
     font-family: 'Prata';
     font-style: normal;
     font-weight: 90;
     font-size: 32px;
     line-height: 43px;
 }

 .formulario form h2 {
     font-family: 'Prata';
     font-style: normal;
     font-weight: 90;
     font-size: em;
 }