.botao {
    padding: 10px;
    background: #6278F7;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height: 43px;
    cursor: pointer;
    margin: 32px 0;
    vertical-align: middle;
}

.botao:hover {
    color: #95ffd4;
}